DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=require"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_your_clerk_publishable_key"
CLERK_SECRET_KEY="sk_test_your_clerk_secret_key"

GOOGLE_GENERATIVE_AI_API_KEY="your_google_generative_ai_api_key"


GROQ_API_KEY="your_groq_api_key"

TRIGGER_API_KEY="your_trigger_api_key"
TRIGGER_API_URL="https://api.trigger.dev"
NEXT_PUBLIC_TRIGGER_PROJECT_ID="your_trigger_project_id"

TRANSLOADIT_AUTH_KEY="your_transloadit_auth_key"
TRANSLOADIT_AUTH_SECRET="your_transloadit_auth_secret"
